<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- xml 주석 -->
<mapper namespace="web.model.dao.AuthDao" >  <!-- mapper start -->

    <!-- 로그인시 계정 정보 찾기 -->
    <select id="findByUsername" parameterType="String" resultType="web.model.dto.MemberDto">
        SELECT username, password, role, name, memberid, account
        FROM members
        WHERE username = #{username}
    </select>

    <!-- OAuth2 계정 정보 찾기 -->
    <select id="findByEmail" parameterType="String" resultType="web.model.dto.MemberDto">
        SELECT username, password, role, name, memberid, account
        FROM members
        WHERE email = #{email}
    </select>

    <!-- 회원가입 -->
    <insert id="register" parameterType="web.model.dto.MemberDto">
        INSERT INTO members (username, password, role, name, email, contact, gender, age, teamcode, account)
        VALUES (#{username}, #{password}, #{role}, #{name}, #{email}, #{contact}, #{gender}, #{age}, #{teamcode}, #{account})
    </insert>

</mapper> <!-- mapper end -->

