<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="/css/member/login.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{/header.html:: header}"></div>
    <div class="wrap">
        <div class="loginArea">
            <form class="loginForm">
                <h3> 로그인 </h3>
                <input id="id" type="text" name="username" placeholder="아이디"><br>
                <input id="pw" type="password" name="password" placeholder="비밀번호"><br>
                <button type="button" class="btn btn-primary" onclick="doLogIn()">로그인</button>
            </form>
            <button type="button" onclick="naverLogin()">
                <img src="/img/naver_login.png" alt="로그인" style="cursor: pointer; width: 183px; height: 45px;">
            </button>
            <button type="button" onclick="kakaoLogin()">
                <img src="/img/kakao_login.png" alt="로그인" style="cursor: pointer;">
            </button>
        </div>
    </div>

<script src="/js/member/login.js"></script>
<div th:replace="~{/footer.html:: footer}"></div>
</body>
</html>