<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예상연봉</title>
    <link href="/css/member/salary.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{/header.html:: header}"></div>
<div class="wrap">
    <div class="wrap2">
        <div class="info">
            홈
        </div>
        <h3> 예상연봉 </h3>
        <div>
            <input type="text" class="name">
            <button type="button" onclick="salary()">검색</button>
        </div>
        <div>  <!-- 포인트 내역 출력 -->
            <table class="table">
                <thead>
                <tr>
                    <th> 선수명 </th> <th> 타율 </th> <th> 타석 </th><th> 홈런 </th><th> 타점 </th><th> 도루 </th><th> 장타율 </th><th> 출루율 </th><th> 예상연봉 </th>
                </tr>
                </thead>
                <tbody class="stat">

                </tbody>
            </table>
        </div> <!-- 포인트 내역 출력 end -->

    </div>  <!-- wrap2 end -->
</div>
<div th:replace="~{/footer.html:: footer}"></div>
<!-- iamport.payment.js -->
<script src="/js/member/salary.js"></script>

</body>
</html>