/* 1. 공통 CSS */
* {
    padding: 0;
    margin: 0;
    list-style-type: none; /* 글머리 제거 */
    box-sizing: border-box; /* 구역 사이즈 기준 */
    color: black;
    font-size: 13px;
    font-family: "Paperlogy-8ExtraBold";
}
.wrap {
    width: 100%;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;     /* 수직 가운데 정렬 */
    text-align: center;      /* 텍스트 가운데 정렬 */
    margin: 0 auto;         /* 가로 중앙 정렬 (여백 중앙) */
}
ul,ol,li{
    list-style: none;
}
.wrap a{ 
    text-decoration: none;
    color: black;
}
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 바디 */
#menu{
    width: 100%;
}

#topMenu{
    display: flex;
    justify-content: right;
    padding: 10px 20px;
}
#topMenu a{
    padding-left: 20px;
}
#bottomMenu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    list-style-type: none;
    padding: 0;
}
.menu > li {
    display: inline-block;
    position: relative;
    margin: 0px 70px;
}
.menu > li > a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #333;
    font-size: 20px;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%; /* 부모 메뉴의 중앙에 위치시키기 위해 50% */
    transform: translateX(-50%); /* 왼쪽으로 50% 이동하여 중앙 정렬 */
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 0px;
}
.submenu li {
    width: 150px; /* 서브메뉴 너비 조정 */
}
.submenu li a {
    padding: 10px 0; /* 수직 패딩만 설정하여 좌우 패딩 제거 */
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-decoration: none;
    width: 100%; /* 전체 너비 사용 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
}
.menu > li:hover .submenu {
    display: block;
}
  




