.indexMain{
    width: 1080px;
    display: flex;
    justify-content: space-between;
    height: 100vh; /* 부모 요소의 높이 설정 */
    overflow: auto; /* 스크롤 가능하게 설정 */
}
.gameScheduleBox{
    width: 70%;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    background: #f9f9f9; /* 배경색 추가 */
    padding: 10px; /* 내부 여백 추가 */
}
.purchaseBox{
    width: 30%;
    height: 400px; /* 원하는 높이 설정 */
    border: 1px solid #eeeeee;
    position: sticky;
    top: 10px; /* 상단에서 10px 위치 */
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.article {
    display: inline-block; /* 콘텐츠가 가운데 정렬되도록 설정 */
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.article table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.article th, td {
    padding: 15px;
    text-align: left; /* 셀의 텍스트 왼쪽 정렬 */
    border: 1px solid #ccc;
}
.article th {
    background-color: #f8f8f8;
}