.indexMain{
    width: 1080px;
    display: flex;
    justify-content: space-between;
}
.gameScheduleBox{
    width: 70%;
}
.purchaseBox{
    width: 30%;
    border: 1px solid #eeeeee;
    position: fixed;
    right: 50px;
    top : 260px;
    background-color: white;
    padding: 10px;
}

.msgBox{
    display: block;
    height: 100px;
    overflow-y: auto;
    width: 100px;
}