.wrap2{
    width: 80%;
}
.pointInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eeeeee;
}
.info{
    display: flex;
    justify-content: left;
}
.myPointInfo , .addPointInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myPointInfo > P , .myPointInfo img , .myPointBox{
    font-size: 16px;
    margin: 20px;
}
.addP , .addPointInfo input , .addPointInfo button{
    font-size: 16px;
    margin: 10px;
}
