<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BETNET</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/header.html:: header}"></div>
    <div class="wrap">
        <div class="article">
            <div>
                <h3>KBO 뉴스 </h3>
    
                <table>
                    <thead>
                        <tr>
                            <th>제목</th>
                            <th>날짜</th>
                        </tr>
                    </thead>
                    <tbody class="atricleBox">
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="indexMain">
            <div class="gameScheduleBox">
                <table class="table">
                    <thead>
                        <tr>
                            <th> 번호 </th> <th> 마감시간 </th> <th> 종목 </th> <th> 게임유형 </th> <th> 홈팀 vs 원정팀 </th> <th> 배당률선택 </th> <th> 경기시간 </th>
                        </tr>
                    </thead>
                    <tbody class="gameScheduleBody">
                        <tr> <td> 1 </td> <td> 9/18 18:00 </td> <td> KBO </td> <td> 일반 </td> <td> 롯데 vs LG </td> <td> <button type="button" onclick="choiceWinandLoss(1 , '20240901-롯데-1400' , 1 , 2.14); activateButton(this);"> 승 / 2.14 </button> <button type="button" onclick="choiceWinandLoss(1 , '20240901-롯데-1400' , 0 , 1.46); activateButton(this);"> 패 / 1.46 </button> </td> <td> 9/18 17:00 </td> </tr>
                        <tr> <td> 2 </td> <td> 9/18 18:00 </td> <td> KBO </td> <td> 일반 </td> <td> NC vs 한화 </td> <td> <button type="button" onclick="choiceWinandLoss(2 , '20240901-NC-1400' , 1 , 1.64); activateButton(this);"> 승 / 1.64 </button> <button type="button" onclick="choiceWinandLoss(2 , '20240901-NC-1400' , 0 , 1.96); activateButton(this);"> 패 / 1.96 </button> </td> <td> 9/18 17:00 </td> </tr>
                        <tr> <td> 3 </td> <td> 9/18 18:00 </td> <td> KBO </td> <td> 일반 </td> <td> KT vs 삼성 </td> <td> <button type="button" onclick="choiceWinandLoss(3 , '20240901-KT-1400' , 1 , 2.16); activateButton(this);"> 승 / 2.16 </button> <button type="button"onclick="choiceWinandLoss(3 , '20240901-KT-1400' , 0 , 1.44); activateButton(this);"> 패 / 1.44 </button> </td> <td> 9/18 17:00 </td> </tr>
                    </tbody>
                </table>
            </div>
            <div class="purchaseBox">
                구매카트
                <table class="table">
                    <tbody class="purchaseCartBox">
                    </tbody>
                </table>
                <div>
                    <table class="table">
                        <thead class="purchaseInfoBox">

                        </thead>
                        <tbody>
                            <tr> <th> 배팅포인트 </th> <td><input type="text" class="pointChange" onkeyup="updateTotalOdds()"/></td> </tr>
                        </tbody>
                    </table>
                    <div>
                        <p> 50000 포인트까지 구매 가능합니다.</p>
                    </div>
                    <div>
                        <button type="button" onclick="gamePurchase()">구매하기</button>
                    </div>
                </div>
            </div>
        </div>  <!-- indexMain end -->
    </div>  <!-- wrap end-->
    <div th:replace="~{/footer.html:: footer}"></div>
    <script src="/js/index.js"></script>

</body>
</html>