<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>단체관람 예매</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/header.html:: header}"></div>
    <div class="wrap">
        <div class="main">
            <div id="map"></div>
            <div class="searchBox" style="display:flex">
                <select class="homeName">홈팀명</select>
                <select class="awayName">어웨이팀명</select>
                <input type="date" id="dateInput">
            </div>
            <table class="table" id="stadiumTable">
                <thead>
                    <tr>
                        <th> 번호 </th> <th> 날짜 </th> <th> 마감시간 </th> <th> 경기시간 </th> <th> 홈팀 </th> <th> 원정팀 </th> <th> 예약하기 </th> <th> 구장정보 </th>
                    </tr>
                </thead>
                <tbody class="stadiumTbody">
                    <tr> <td> 1 </td> <td> 9월 25일 (수)</td> <td>  11:30  </td> <td> 14:00 </td> <td> 롯데 </td> <td> LG </td> <td> <button type="button" onclick="reserveMatch('matchcode')">예약하기</button> </td> <td> (구장정보, 사진 등) </td> </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{/footer.html:: footer}"></div>
    <script src="/js/tickets.js"></script>

</body>
</html>