<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>굿즈 거래</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/market.css" rel="stylesheet">
</head>
<body>
        <div th:replace="~{/header.html:: header}"></div>
        <div class="wrap">
            <div class="main">
                <!-- 검색 div -->
                <div class="searchBox">
                    <input type="text" id="searchInput" placeholder="검색어를 입력하세요">
                    <select class="stateSearch">
                        <option value="0" selected>거래상태</option>
                        <option value="1">진행중</option>
                        <option value="2">거래완료</option>
                    </select>
                    <select class="pageSize">
                        <option value="10" selected>10개씩</option>
                        <option value="20">20개씩</option>
                        <option value="30">30개씩</option>
                    </select>
                    <button id="searchBtn">검색</button>
                    <button id="resetBtn">초기화</button>
                    <button id="writeBtn">글쓰기</button>
                </div>
                <!-- 게시판 테이블 -->
                <table class="table" id="marketTable">
                    <thead>
                        <tr>
                            <th> 글번호 </th> <th colspan="2"> 제목 </th> <th> 작성자 </th> <th> 거래현황 </th> <th> 조회수 </th> <th> 날짜 </th>
                        </tr>
                    </thead>
                    <!-- 제목 왼쪽에 사진 하나 같이 출력 -->
                    <tbody class="marketTbody">
                        <tr> <td> 1 </td> <td> (사진) </td> <td>  제목란(링크)  </td> <td> 작성자명 </td> <td> 거래완료 </td> <td> 0123 </td> <td> 2024-09-09 </td> </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <div th:replace="~{/footer.html:: footer}"></div>
    <script src="/js/tickets.js"></script>

</body>
</html>